h1{
    padding: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.btn{
    margin-left:550px;
    margin-bottom: 25px;
    text-align: center;
}
div{
   margin: auto;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 500px;
    border: 2px solid  black;

}